.anim-order-1, .anim-order-2{
    opacity: 0;
}


.swiper-slide.swiper-slide-active .swiper-inner,
.swiper-slide.swiper-slide-duplicate-active .swiper-inner{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: .2s;
}

.swiper-slide.swiper-slide-active .anim-order-1,
.swiper-slide.swiper-slide-duplicate-active .anim-order-1{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: .4s;
}
.swiper-slide.swiper-slide-active .anim-order-2,
.swiper-slide.swiper-slide-duplicate-active .anim-order-2{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: .6s;
}
.swiper-slide.swiper-slide-active .anim-order-3,
.swiper-slide.swiper-slide-duplicate-active .anim-order-3{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: .8s;
}
.swiper-slide.swiper-slide-active .anim-order-4,
.swiper-slide.swiper-slide-duplicate-active .anim-order-4{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: 1s;
}